{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'trialmultivendor/account.css' %}">
</head>
<body>
    {% block body %}
        <div class="home">
            <a href="{% url 'homepage' %}">
                <svg  id="home" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>                  
            </a>
        </div>
        <br>
        {% for vendor in vendors_to_review %}
            <div class="content">
                <div class="name">
                    <li>
                        {{vendor.first_name}} {{vendor.last_name}} 
                        <a href="{% url 'vendordetails'  %}"><button>view</button></a>
                    </li>
                </div>
            </div>
        {% endfor %}
        <br>
        <a href="{% url 'vendors' %}"><button id="dashboard">vendors</button></a>
    {% endblock %}
</body>
</html>