{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'C:\Users\user\Desktop\djangoprojects2\ecomerce\trialmultivendor\core\static\trialmultivendor\menu.css' %}">
</head>
<body>
    {% block body %}
        <div class="category">
            {% for category in categories %}
                <a href="{% url 'categorydetail' category.slug %}"><button id="category">{{category.tittle}}</button></a>
                <br>
            {% endfor %}
        </div> 
    {% endblock %}
</body>
</html>